<!-- <a class="item">
      CHATROOM
    </a> -->

    <%= link_to "CHATROOM", root_path, class: "item" %>


    <a class="item">
      MESSAGES
    </a>
     <a class="active item">
      ABOUT US
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        ACCOUNT <i class="dropdown icon"></i>
        <div class="menu">


          <!-- <a class="item">LOG IN</a> -->
   <%= link_to "LOG IN", login_path, class: "item" %>


          <a class="item">LOG OUT</a>
          <a class="item">SIGN UP</a>
        </div>
      </div>
      <div class="item">
          <div class="ui primary button">Sign Up</div>
      </div>
      
    </div>